{% extends 'base.html.twig' %}

{% block body %}

<h1 class="mb-4">Nos menus</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <h2 class="h4 mb-3">Rechercher un menu</h2>

        <form class="row g-3">
            <div class="col-md-3">
                <label class="form-label">Prix maximum</label>
                <input type="number" class="form-control" placeholder="Ex : 150">
            </div>

            <div class="col-md-3">
                <label class="form-label">Fourchette de prix</label>
                <select class="form-select">
                    <option>Tous les prix</option>
                    <option>Moins de 100 €</option>
                    <option>100 € à 200 €</option>
                    <option>Plus de 200 €</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Thème</label>
<select class="form-select">
    <option>Tous</option>
    <option>Classique</option>
    <option>Festif</option>
    <option>Santé</option>
</select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Régime</label>
<select class="form-select">
    <option>Tous</option>
    <option>Végétarien</option>
</select>

            </div>

            <div class="col-md-2">
                <label class="form-label">Personnes min.</label>
                <input type="number" class="form-control" placeholder="Ex : 4">
            </div>

            <div class="col-12">
                <button type="button" class="btn btn-success">Filtrer</button>
                <button type="reset" class="btn btn-secondary">Réinitialiser</button>
            </div>
        </form>
    </div>
</div>

<input type="text"
       class="form-control mb-4"
       placeholder="Rechercher un menu...">

{% for menu in menus %}
<div class="card shadow mb-4">
    <div class="card-body">

        <h2>{{ menu.titre }}</h2>

        <span class="badge bg-primary mb-2">
            {{ menu.theme }}
        </span>

<img src="/images/{{ menu.image }}"
     class="img-fluid rounded mb-3"
     style="height:260px; object-fit:cover; width:100%;"
     alt="{{ menu.titre }}">

        <p>{{ menu.description }}</p>

        <p>🎉 Thème : {{ menu.theme }}</p>
        <p>👥 Minimum : {{ menu.nombre_personnes_min }} personnes</p>
        <p>💰 Prix : {{ menu.prix }} €</p>

        {% if menu.titre == 'Menu Classique' %}
    <a href="/menu-classique" class="btn btn-primary">Voir le détail</a>
{% elseif menu.titre == 'Menu Festif' %}
    <a href="/menu-festif" class="btn btn-primary">Voir le détail</a>
{% else %}
    <a href="/menu-vegetarien" class="btn btn-primary">Voir le détail</a>
{% endif %}
        

    </div>
</div>

{% endfor %}
{% endblock %}